.pregunta{
    background-color: #ffff00;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}

.respuesta{
   
    border-width: 5px;
    border-style: dashed;
    border-color: #000000;
}
.respuesta2{
   
    border-width: 5px;
    border-style: hidden;
    border-color: #000000;
}
.respuesta3{
   
    border-width: 5px;
    border-style: ;
    border-color: #000000;
}
.respuesta4{
   
    border-width: 5px;
    border-style: dashed;
    border-color: #000000;
}
.respuesta5{
   
    border-width: 5px;
    border-style: dashed;
    border-color: #000000;
}
.respuesta6{
   
    border-width: 5px;
    border-style: dashed;
    border-color: #000000;
}.respuesta7{
   
    border-width: 5px;
    border-style: dashed;
    border-color: #000000;
}
.respuesta8{
   
    border-width: 5px;
    border-style: dashed;
    border-color: #000000;
}
.respuesta9{
   
    border-width: 5px;
    border-style: dashed;
    border-color: #000000;
}