body{
    background-image:url(../img/love.jpeg) ;
    background-repeat:;
    background-color: khaki;
    background-position:top left;


}
/*
top left
top center
top right
center left
center center
center right
botton :left
botton center 
botton right 
x% y% 
x pos y pos
*/