#contenedorform{
    width: 500px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: rgb(253, 253, 253);
    border: 1px solid #ccc;
    padding: 10px 10px 10px 10px;
}
#contenedorform form label{
    width: 120px;
    float: left;
    font-family: sans-serif;
    font-size: 10px;

}
input{
    margin: 0px 0px 10px 0px;
}
.botonsubmit{
    color: rgb(255, 255, 255);
    background-color: rgb(253, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 10px;
    border-radius: 100px;
    padding:10px ;


}
