body{
    width: 1200px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
h1{
    text-align: center;
    padding: 10px;
}
h2{
    color: deepskyblue;
    padding: 10px;
}

#datos,#principal{
    float: left;
    padding: 10px;
    margin: 0px;
}
#datos{
    width: 300px;
    border: 1px solid #000;
}
#principal{
    width: 700px;
    border: 1px solid #000;
}
#contenido{
    list-style-type: none;
    padding: 10px;
}
#contenido li{
    float: left;
    width: 33%;
}
ul li:first-child{
    color:red;
    font-weight: bold;
}






